<!-- ======= About Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">
  
      <header class="section-header">
        <h3>IESL YMS</h3>
      </header>
  
      <div class="row about-extra">
        <div class="col-lg-4 d-flex justify-content-center align-items-center" data-aos="fade-right">
          <img src="assets/img/yms-logo.png" class="img-fluid" alt="yms-logo" width="60%">
        </div>
        <div class="col-lg-8 pt-5 pt-lg-0" data-aos="fade-left">
          <p>
            <b>What is YMS?</b><br/>
            The YMS (Young Members Section) act as the link between young engineers and IESL. 
            It helps to make the youth in the field of engineering more attracted to 
            IESL and inform the board of young members (members, associate members, and student members) 
            of the relevant affairs and activities. Their plans and work priorities function as the interface 
            for all young members to stand out in their careers as outstanding engineers and provide a stage for their voices.
          </p>
          <p>
            <b>Vision of YMS</b><br/>
            The Young Members’ Section has been committed to awakening the interest of IESL young members, 
            associate members and student members in IESL affairs and activities, and providing young engineers 
            with opportunities to develop professional skills, establish networks and interdisciplinary dialogues, 
            and at the same time train future leaders and promote Follow-up improvements to IESL activities.
          </p>
        </div>
      </div>        
  
    </div>
  </section>
<!-- End About Section -->

<!-- ======= Update Section ======= -->
<section id="services" class="section-bg">
    <div class="container" data-aos="fade-up">
  
        <header class="section-header">
            <h3>Projects under IESL-YMS</h3>
        </header>
  
        <div class="container" data-aos="fade-up">
            
            <div class="row justify-content-center mt-4 mb-4">
                <span class="text-center"><b>Talk to School Program</b></span><br/>
                <p>
                    As part of the Social Responsibility Program, 
                    the IESL YMS launched an awareness program called "Talk to School" 
                    to encourage school-age children to choose engineering as their career. 
                    The program aims to educate students on how to apply mathematics and physics subjects 
                    creatively and usefully, thereby instilling students in their advanced education to learn 
                    mathematics courses. These plans will be carried out with the support of the organization, 
                    implementation, and resource search of the provincial branch.
                </p>
            </div>

            <div class="row justify-content-center mt-4 mb-4">
                <span class="text-center"><b>Talk to University Program</b></span><br/>
                <p>
                    YMS plans to run the "Talk to University" program. 
                    The main goal of the program is to enrich students with the correct 
                    attitude expected by the industry. This program makes the students aware of new trends, 
                    challenges and career opportunities in the industry.
                </p>
            </div>

            <div class="row justify-content-center mt-4 mb-4">
                <span class="text-center"><b>Field Visits and Meet an Engineer Program</b></span><br/>
                <p>
                    These projects will fill the gap between university education and industry expectations. 
                    The program will be led by senior and junior engineers in the industry, 
                    who will share their experiences to motivate recent graduates to acquire the necessary technical 
                    and social skills required by the industry. 
                    This will encourage recent graduates to participate in IESL activities and obtain associate membership.
                </p>
            </div>

            <div class="row justify-content-center mt-4 mb-4">
                <span class="text-center"><b>Young Journal and National Engineering Conference</b></span><br/>
                <p>
                    This provides a good opportunity to publish the research results of YMS members. 
                    In order to make the IESL National Engineering Conference the primary event for 
                    the engineering community to issue policy statements and project proposals 
                    related to the country's achievement of sustainable development goals, 
                    YMS is willing to actively participate in these plans.
                </p>
            </div>

            <div class="row justify-content-center mt-4 mb-4">
                <span class="text-center"><b>Inter-University English Debate</b></span><br/>
                <p>
                    Interuniversity Debate Competition 2021 is to allow students to think critically 
                    while improving communication skills. They will analytically evaluate the opinions 
                    of others and logically construct their refutations. They should express their ideas in 
                    a clear professional style, which will enable them to develop their speaking skills. 
                    In addition, they will find that this is an opportunity to study and learn the attributes 
                    of expert debaters, and to instil these attributes into themselves. 
                    It is not limited to maintaining proper body language, keeping calm during disagreements, 
                    sticking to the problem at hand, and speaking out loud. Speak clearly and deal with emotions. 
                    It will help students build confidence and improve their interpersonal skills. 
                    Ultimately, this event will build a bridge between universities, promote communication 
                    and networking within the university, and ultimately benefit all graduates entering the industry.
                </p>
            </div>

            <div class="row justify-content-center mt-4 mb-4">
                <span class="text-center"><b>IESL YMS Blog</b></span><br/>
                <p>
                    The IESL YMS blog aims to provide a valuable space for 
                    young Sri Lankan engineers, passionate about creativity, 
                    who share their new and innovative ideas and inspiration to 
                    contribute to the betterment of the country and society as a whole.
                </p>
                <span class="text-center"><a href="https://ieslyms.blogspot.com">https://ieslyms.blogspot.com</a></span>
            </div>

        </div>
  
    </div>
</section>
<!-- End Update Section -->