<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">

    <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/hero-img.png" alt="" class="img-fluid">
    </div>

    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>Young Engineers<br/> for a Better Future</h2>
      <div>
        <a href="/registrations" class="btn-registrations scrollto">Registrations</a>
      </div>
    </div>

  </div>
</section><!-- End Hero Section -->

<!-- ======= Introduction section ======= -->
<section id="introduction">
  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h3>IESL Student Chapter of University of Moratuwa</h3>
      <p>
        The IESL Student Chapter of the University of Moratuwa is a pre-dominant Student Chapter
        established under IESL-Young Members Section. Bridging the void between Engineering
        Professionals and the dynamic undergraduate community in the university, we hope to confer
        proficient engineering exposure to all engineering undergraduates at the University of Moratuwa.
        Through our annual initiatives, we aspire to encourage community service, local and international
        recognition, and professional development while taking the undergraduate community to greater
        heights by identifying their skills and providing them with exceptional opportunities to excel as
        professionals as well as individuals.
      </p>
    </header>

  </div>
</section><!-- End Introduction Section -->

<!-- ======= Three Button Section ======= -->
<section id="three-button">
  <div class="container" data-aos="fade-up">

    <div class="row row-eq-height justify-content-center">

      <div class="col-lg-4 mb-4">
        <a href="/projects">
          <div class="card" data-aos="zoom-in" data-aos-delay="100">
            <i class="bi bi-kanban"></i>
            <div class="card-body">
              <h5 class="card-title">Projects</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 mb-4">
        <a href="/registrations">
          <div class="card" data-aos="zoom-in" data-aos-delay="200">
            <i class="bi bi-pencil-square"></i>
            <div class="card-body">
              <h5 class="card-title">Registrations</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 mb-4">
        <a href="/about">
          <div class="card" data-aos="zoom-in" data-aos-delay="300">
            <i class="bi bi-info-circle"></i>
            <div class="card-body">
              <h5 class="card-title">About Us</h5>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>
</section><!-- End Why Us Section -->

<!-- ======= About Section ======= -->
<section id="about">
  <div class="container" data-aos="fade-up">

    <div class="row about-extra">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/logo-iesl.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-5 pt-lg-0" data-aos="fade-left">
        <h4>Institution of Engineers, Sri Lanka</h4>
        <p>
          Established in 1956, IESL the apex body of engineers in Sri Lanka was found with the objective of
          providing indispensable advancements of science and practice of engineering, across the country.
        </p>
        <h5>Vision</h5>
        <p>
          Be amongst the leading professional institutions in engineering and technology in the world.
        </p>
        <h5>Mission</h5>
        <p>
          To be the apex national body of engineers in Sri Lanka which ensures internationally recognized and
          locally relevant standards in the professional practice and education in engineering, while actively
          supporting national development and diligently serving its members and the society at large.
        </p>
      </div>
    </div>

    <div class="row about-extra">
      <div class="col-lg-4 order-1 order-lg-2" data-aos="fade-left">
        <img src="assets/img/1.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h4>Young Members Section</h4>
        <p>
          The YMS Committee is recognized as the invigoration that unites the young engineers and IESL
          together. Its programs and work priorities are devised as an interface for all the young members to
          excel in their careers of becoming eminent Engineers under the guidance of IESL.
        </p>
        <h5>Vision</h5>
        <p>
          The Young Members’ Section maintains to garner interest to the IESL affairs and activities among
          Young Members, Associate Members, and Student Members of IESL and to provide Young Engineers
          opportunities for professional skills development, networking, and interdisciplinary dialogue while
          cultivating future leaders and facilitating succession enhancement of the IESL activities.
        </p>
      </div>

    </div>

  </div>
</section><!-- End About Section -->

<!-- ======= Update Section ======= -->
<section id="services" class="section-bg">
  <div class="container" data-aos="fade-up">

      <header class="section-header">
          <h3>Updates</h3>
      </header>

      <div class="row justify-content-center">

        <div *ngIf="noUpdates">
          <h4 class="text-center text-secondary">No updates</h4>
        </div>

        <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100" *ngFor="let update of updates">
          <div class="box" *ngIf="!noUpdates">
            <a href={{update.link}}><h4 class="title">{{update.name}}</h4></a>
            <p class="description">{{update.description}}</p>
          </div>
        </div>
    
      </div>

  </div>
</section>
<!-- End Update Section -->