<!-- ======= On going project Section ======= -->
<section id="services" class="section-bg">
    <div class="container" data-aos="fade-up">
  
        <header class="section-header">
            <h3>Ongoing Project</h3>
        </header>
  
        <div class="row justify-content-center">

          <div *ngIf="noOngoingProjects">
            <h4 class="text-center text-secondary">No Ongoing Projects</h4>
          </div>

          <div (click)="onSelect(project)" class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100" *ngFor="let project of onGoingProjects">
            <div class="box" *ngIf="!noOngoingProjects">
              <h4 class="title">{{project.name}}</h4>
              <p class="description">{{project.brief}}</p>
            </div>
          </div>
      
        </div>
  
    </div>
</section>
<!-- End On going project Section -->

<!-- ======= Timeline Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Proposed Year Plan 2021</h3>
        <div class="container"> <!-- todo: need to improve-->
          <img src="assets/img/timeline.jpg" class="img-fluid d-none d-md-block"/>
          <img src="assets/img/timeline-mobile.jpg" class="img-fluid d-block d-md-none"/>
        </div>
      </header>

    </div>
  </section>
<!-- End About Section -->

<!-- ======= Upcoming project Section ======= -->
<section id="services" class="section-bg">
    <div class="container" data-aos="fade-up">
  
        <header class="section-header">
            <h3>Upcoming Project</h3>
        </header>
  
        <div class="row justify-content-center">

          <div *ngIf="noUpcomingProjects">
            <h4 class="text-center text-secondary">No Upcoming Projects</h4>
          </div>
  
          <div (click)="onSelect(project)" class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100" *ngFor="let project of upComingProjects">
            <div class="box" *ngIf="!noUpcomingProjects">
              <h4 class="title">{{project.name}}</h4>
              <p class="description">{{project.brief}}</p>
            </div>
          </div>
  
        </div>
  
    </div>
</section>
<!-- End Upcoming project Section -->

    <!-- ======= Past projects Section ======= -->
<section id="portfolio" class="clearfix">
    <div class="container" data-aos="fade-up">
  
      <header class="section-header">
        <h3 class="section-title">Past Projects</h3>
      </header>
  
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12">
          <ul id="portfolio-flters"> <!-- todo: buttons are not working -->
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-hackathon">Hackathon</li>
            <li data-filter=".filter-evotech">Evotech</li>
            <li data-filter=".filter-engiqs">EngiQs</li>
            <li data-filter=".filter-talk-school">Talk to school</li>
            <li data-filter=".filter-paving-path">Paving Paths</li>
            <li data-filter=".filter-agm">AGM</li>
            <li data-filter=".filter-cdp">CDP</li>
            <li data-filter=".filter-scholastic">Scholastic</li>
            <li data-filter=".filter-symposiarch">Symposiarch</li>
          </ul>
        </div>
      </div>
  
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div (click)="onSelect(project)" class="col-lg-4 col-md-6 portfolio-item" style="cursor:pointer;" [class]="project.filter" *ngFor="let project of pastProjects">
          <div class="portfolio-wrap">
              <img src={{project.images[0]}} class="img-fluid" alt="project image">
              <div class="portfolio-info text-primary">
                <div class="h4 bg-white"><strong>{{project.name}}</strong></div>
              </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  <!-- End Past projects Section -->