<!-- ======= Blog Section ======= -->
<section id="blog" class="section-bg">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3>Blog</h3>
        </header>

        <div class="row">

            <div *ngFor="let article of articles" class="col-lg-4 col-md-6 blog-item" data-aos="fade-up" data-aos-delay="100">
                <div class="blog-wrap">
                    <img [src]="article.imageUrl" class="img-fluid" alt="Blog Image">
                    <div class="blog-info">
                        <h4 class="title"><a href="#" (click)="onArticleClick(article)">{{ article.title }}</a></h4>
                        <ul class="blog-meta">
                            <li><i class="bi bi-person"></i> {{ article.author }}</li>
                            <li><i class="bi bi-clock"></i> {{ article.date | date }}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Blog Section -->
