<!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
  
      <header class="section-header">
        <h3>About Us</h3>
      </header>
  
      <div class="row about-extra">
        <div class="col-lg-4 text-center" data-aos="fade-right">
          <img src="assets/img/uom_yms.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-5 pt-lg-0" data-aos="fade-left">
          <p>
            IESL Student Chapter - University of Moratuwa is one of the leading Student chapters, established along with IESL - YMS. Through our chapter we try to confer professional engineering exposure to all engineering undergraduates in University of Moratuwa
          </p>
        </div>
      </div>        
  
    </div>
  </section>
<!-- End About Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Meet Our Team</h3>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
            <div class="member">
              <img src="assets/img/team/prof_manatunge.jpg" class="img-fluid" alt="prof_manatunge">
            </div>
            <div class="text-center">
              <h4>Professor Jagath Manatunge</h4>
              <h5>Senior Adviser and <br/> Senior Treasurer</h5>
            </div>
          </div>

        </div>

        <div class="row justify-content-around">

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
            <div class="member">
              <img src="assets/img/team/rashan.jpg" class="img-fluid" alt="Rashan">
            </div>
            <div class="text-center">
              <h4>Rashan Maduranga</h4>
              <h5>Chairman</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
            <div class="member">
              <img src="assets/img/team/dilanka.jpeg" class="img-fluid" alt="Dilanka">
            </div>
            <div class="text-center">
              <h4>Dilanka Rathnasiri</h4>
              <h5>Secretary and <br/> Web Master </h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="member">
              <img src="assets/img/team-3.jpg" class="img-fluid" alt="Amila">
            </div>
            <div class="text-center">
              <h4>Amila Premakumara</h4>
              <h5>Chief Operating Officer</h5>
            </div>
          </div>

        </div>

        <div class="row justify-content-around">

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
            <div class="member">
              <img src="assets/img/team/rashan.jpg" class="img-fluid" alt="Gayath">
            </div>
            <div class="text-center">
              <h4>Gayath Dayarathne</h4>
              <h5>Treasurer</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
            <div class="member">
              <img src="assets/img/team/Janani.jpg" class="img-fluid" alt="Janani">
            </div>
            <div class="text-center">
              <h4>Janani Waduge</h4>
              <h5>Senior Editor </h5>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->