<!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
  
      <header class="section-header">
        <h3>About Us</h3>
      </header>
  
      <div class="row about-extra">
        <div class="col-lg-4 d-flex justify-content-center align-items-center" data-aos="fade-right">
          <img src="assets/img/logo4.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-5 pt-lg-0" data-aos="fade-left">
          <p>
            Welcome to the IESL Students chapter of University of Moratuwa. 
            IESL Students chapter of University of Moratuwa is a well-reputed students chapter, 
            established along with IESL-YMS. 
            We try to confer professional engineering exposure to all engineering undergraduates 
            at the University of Moratuwa.
          </p>
          <p>
            Since 2011, the IESL students chapter of University of Moratuwa has been helping undergraduates 
            developing their skills and providing them with exceptional opportunities to excel through competitions, 
            talks and discussions, webinars, and field visits while encouraging them to engage in 
            community service projects as well.
          </p>
          <p>
            We help undergraduates identify their potential career paths through events like 'paving path' 
            while offering them the perfect opportunities to develop their engineering-related skills by organizing 
            competitions like 'Techno-Hackothon' and 'Evotech'. Moreover, we offer many webinars and field visits 
            to university undergraduates, opening up many possibilities to enhance their knowledge. 
            There's nothing more rewarding than giving back and making a difference in the community, 
            thus projects carried out by the IESL Student Chapter of University of Moratuwa are exceptionally devised 
            with the intention to motivate the younger generation and to help them choose the right career path for 
            a brighter future.
          </p>
        </div>
      </div>        
  
    </div>
  </section>
<!-- End About Section -->

<!-- ======= Team Section ======= -->
<!-- <section id="team">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3 style="font-weight: bolder;">Meet Our Team</h3>
    </div>

    <div class="row justify-content-center">

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/prof_manatunge.jpg" class="img-fluid" alt="prof_manatunge">
        </div>
        <div class="text-center">
          <h4>Senior Professor Jagath Manatunge</h4>
          <h5>Senior Advisor and <br/> Senior Treasurer</h5>
        </div>
      </div>

    </div>
    <div style="margin-top: 15px;margin-bottom: 5px" class="section-header">
      <h3 >Executive Committee</h3>
    </div>
    <div class="row justify-content-around">

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/rashan.jpg" class="img-fluid" alt="Rashan">
        </div>
        <div class="text-center">
          <h4>Charith Rathnayake</h4>
          <h5>Chairman</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/dilanka.jpeg" class="img-fluid" alt="Dilanka">
        </div>
        <div class="text-center">
          <h4>Madhushika Gihanthi </h4>
          <h5>Secretary</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Amila">
        </div>
        <div class="text-center">
            <h4>Piumi Pabasara </h4>
            <h5>Chief Operating Officer</h5>
        </div>
      </div>

    </div>
    

    <div class="row justify-content-around">

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Gayath">
        </div>
        <div class="text-center">
          <h4>Kalana mihiranga </h4>
          <h5>Treasurer & Senior Editor</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Janani">
        </div>
        <div class="text-center">
          <h4>Nikeshi Kumarasinghe</h4>
          <h5>Executive Director of OPerations & Current Affairs</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Janani">
        </div>
        <div class="text-center">
          <h4>Eranga Malindi </h4>
          <h5>Executive Director of Human Resources & Recruitments </h5>
        </div>
      </div>

    </div>

    <div class="row justify-content-around">

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Gayath">
        </div>
        <div class="text-center">
          <h4>Dilan Lakshitha</h4>
          <h5>Executive Director of Public Relations & External Affairs </h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Janani">
        </div>
        <div class="text-center">
          <h4>Pradeep Mihiran</h4>
          <h5>Executive Director of Contemporary, Prospective Project & Delivery</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Janani">
        </div>
        <div class="text-center">
          <h4>Venura Avishka </h4>
          <h5>Vice Chairman</h5>
        </div>
      </div>

    </div>

    <div class="row justify-content-around">

      

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid " alt="Madhushika">
        </div>
        <div class="text-center">
          <h4>Samadhi Yashodara</h4>
          <h5>Vice Secretary</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Kalana">
        </div>
        <div class="text-center">
            <h4>Madhuka Dilshan</h4>
            <h5>Junior Treasurer</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Charith">
        </div>
        <div class="text-center">
          <h4> Jalitha Wasath</h4>
          <h5>Chief Organizer</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Charith">
        </div>
        <div class="text-center">
          <h4>Helani Kumarawadu</h4>
          <h5>Editor</h5>
        </div>
      </div>

    </div>


    <div style="margin-top: 40px;margin-bottom: 5px" class="section-header">
      <h3 >Administrative Committee</h3>
    </div>
    <div class="row justify-content-around">

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Kesara">
        </div>
        <div class="text-center">
          <h4>Amantha Mawathage</h4>
          <h5>Assistant Director of Operations and Current Affairs</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Kesara">
        </div>
        <div class="text-center">
          <h4>Yashodya Karunanayake</h4>
          <h5>Assistant Director of Human Resources and Recruitments</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Kesara">
        </div>
        <div class="text-center">
          <h4>Shehan Paul</h4>
          <h5>Assistant Director of Public Relations and External Affairs</h5>
        </div>
      </div>
</div>
    <div class="row justify-content-around">

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Kesara">
        </div>
        <div class="text-center">
          <h4>Vinodi Rukshima</h4>
          <h5>Assistant Director of Contemporary, Prospective projects and Delivery</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Kesara">
        </div>
        <div class="text-center">
          <h4>Sumeela Madusankha</h4>
          <h5>Chief Web Developer</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Kesara">
        </div>
        <div class="text-center">
          <h4>Danuja Jayananda</h4>
          <h5>Public Relations Pillar Head</h5>
        </div>
      </div>

    </div>

    <div class="row justify-content-around">

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Kesara">
        </div>
        <div class="text-center">
          <h4>Mahela Sampath</h4>
          <h5>Operations Pillar Head</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Amantha">
        </div>
        <div class="text-center">
          <h4>Janith Jayasinghe</h4>
          <h5>Editorial Pillar Head</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Amantha">
        </div>
        <div class="text-center">
          <h4>Sachith Kaviranga</h4>
          <h5>Marketing Pillar Head</h5>
        </div>
      </div>

    </div>

    <div class="row justify-content-around">

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Amantha">
        </div>
        <div class="text-center">
          <h4>Chamath Abeysekara</h4>
          <h5>Assistant Head of Public Relations Pillar</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Yashodya">
        </div>
        <div class="text-center">
          <h4>Dasith Daksitha</h4>
          <h5>Assistant Head of Operations Pillar</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Samadhi">
        </div>
        <div class="text-center">
            <h4>Nandun Pabasara</h4>
            <h5>Assistant Head of Editorial Pillar</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
        <div class="member">
          <img src="assets/img/team/amila.jpg" class="img-fluid" alt="Samadhi">
        </div>
        <div class="text-center">
            <h4>Gayani Wijesundara</h4>
            <h5>Assistant Head of Marketing Pillar</h5>
        </div>
      </div>

    </div>

  </div>
</section>End Team Section -->